/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");


/*
=============== 
Variables
===============
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-h: hsl(45, 3%, 31%);
    --clr-h3: hsl(34, 80%, 18%);
    --clr-h4: hsl(50, 3%, 57%);
    --clr-p: hsl(45, 7%, 76%);
    --clr-tile: rgb(68, 67, 67);
    --clr-section:hsl(210, 36%, 96%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
    color: hsl(209, 61%, 16%);
}

h1, h2 {
    text-transform: capitalize;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: hsl(42, 78%, 60%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
    h1 {
    font-size: 4rem;
    }
    h2 {
    font-size: 2.5rem;
    }
    h3 {
    font-size: 1.75rem;
    }
    h4 {
    font-size: 1rem;
    }
    p {
    font-size: 1rem;
    }
    body {
    font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
    line-height: 1;
    }
}


/*
=============== 
Navbar
===============
*/

#nav {
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 20px;
    width: 100%;
    background: hsl(45, 100%, 96%);
    z-index: 1;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
}

.nav-list > li {
    list-style-type: none;
}

.nav-list a {
    display: block;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--clr-h);
    letter-spacing: 0.25rem;
    transition: var(--transition);
}

.nav-list a:hover {
    color: orange;
}

@media screen and (max-width: 830px) {
.nav-list a {
    display: inline;
    font-size: 0.75rem;
    text-align: center;
}
}

@media screen and (max-width: 375px) {
.nav-list {
    /* font-size: 0.5rem;
    text-align: center; */
    display: block;
    text-align: right;
    margin-left: auto;
}
}


/*
=============== 
Hero
===============
*/

.hero {
    box-sizing: border-box;
    text-align: center;
    padding: 2rem 2rem;
    background:hsl(45, 100%, 96%);
    height: 100vh;
}

.hero-img {
    display: none;
}

.hero-center {
    min-height: calc(100vh - 5rem);
    display: inline-flex;
    place-items: center;
    margin-top: 2rem;
}

.hero-title > h1 {
    color: hsl(209, 61%, 16%);
}

.hero-title > h4 {
    color: var(--clr-h4);
    margin: 0.7rem;
    letter-spacing: 3px;
}

.btn {
    text-transform: uppercase;
    background: hsl(42, 78%, 60%);
    color: hsl(43, 86%, 17%);
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.25rem;
    display: inline-block;
    font-weight: 300;
    transition: all 0.3s linear;;
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.5rem;
}

.hero-btn {
    margin-top: 2.5rem;
}

.hero-btn:hover {
    background: rgb(250, 189, 178);
    transition-duration: 0.5s;
}

.hero-photo {
    width: 450px;
    height: 450px;
    border-radius: 10%;
}

@media screen and (min-width: 995px) {
    .hero-img {
    display: block;
    position: relative;
    }
    .hero-center {
    grid-template-columns: 1fr 1fr;
    }
}


/*
=============== 
About & Skills
===============
*/

.about-skills {
    box-sizing: border-box;
    padding: 1rem 2rem;
    background:var(--clr-section);
    margin: 0 auto;
}
.about-center {
    padding: 1rem;
}

.about-text {
    margin: auto;
    width: 90%;
}

.about-content {
    padding-top: 1rem;
}

.about-content > p {
    padding-bottom: 1rem;
    color: var(--clr-h);
}

.skills {
    box-sizing: border-box;
    padding: 2rem 2rem;
    background:var(--clr-section);
    margin-top: 3rem;
}

.section-title {
    font-size: 1.5rem; 
    text-align: center;
    text-transform: capitalize;
    line-height: 1.25;
    padding-bottom: 1.5rem;
}

.skills-section {
    width: 80vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 768px) {
    .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    column-gap: 4rem;
    width: 95vw;
    }
}

@media screen and (max-width: 414px) {
    .skills-section {
        width: 70vw;
    }
    .skill p {
        font-size: 0.5rem;
    }
    .skill-container > p {
        top: -1.1rem;
    }
} 

.skills h3 {
    margin: 1.5rem 0;
    color: var(--clr-h3);
}

.skill {
    margin-bottom: 1.25rem;
}

.skill p {
    margin-bottom: 0.5rem;
    color: var(--clr-h3);
    z-index: -1;
}

.skill-container {
    background: white;
    height: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    z-index: 0;
}

.skill-value {
    position: absolute;
    top: 0;
    left: 0;
    background: orange;
    height: 100%;
    width: 50%;
    border-radius: 0.5rem;
}

.value-20 {
    width: 20%;
}
.value-70 {
    width: 70%;
}
.value-80 {
    width: 80%;
}
.value-90 {
    width: 90%;
}

.skill-text {
    position: absolute;
    top: -1.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.skill-text-20 {
    left: 30%;
}
.skill-text-70 {
    left: 70%;
}   
.skill-text-80 {
    left: 80%;
}
.skill-text-90 {
    left: 90%;
}



/*
=============== 
Projects
===============
*/

#projects {
    box-sizing: border-box;
    text-align: center;
    padding: 2rem 2rem;
    background:white;
}

.projects-header {
    text-transform: capitalize;
    max-width: 640px;
    margin: 0 auto 6rem auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

@media screen and (max-width: 30.625em) {
    #projects {
    padding: 6rem 1rem;
    }

    .projects-grid {
    grid-template-columns: 1fr;
    }
}

.project-title {
    font-size: 1.3rem;
    padding: 1.5rem 0.5rem;
    color: white;
}

.project-tile {
    background: var(--clr-tile);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: var(--clr-tile);
    transition: color 0.3s ease-out;
}

.project-tile:hover .code {
    color: orange;
}

.project-image {
    height: calc(100% - 5rem);
    width: 100%;
    object-fit: cover;
}


/*
=============== 
Recommendation
===============
*/

.recommendation-section {
    box-sizing: border-box;
    text-align: center;
    padding: 2rem 2rem;
    background:var(--clr-section);
}

.rec-title {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

.recommendation-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 70px auto;
    margin-bottom: 6rem;
}

.recommedation {
    display: block;
    background: white;
    padding: 50px 30px 30px 30px;
    border-radius: 5px;
}

.rec-img {
    border-radius: 50%;
    padding-bottom: 20px;
}

.rec-content {
    font-family:'Open Sans', sans-serif;;
}

.recommendation-name {
    bottom: 0;
    padding: 2rem 0 0.5rem;
    font-size: .9rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.rec-name {
    font-weight: bolder;
}

@media screen and (max-width: 398px) {
    .recommendation-container {
        grid-template-columns: 1fr;
    }
} 

/*
=============== 
Contact
===============
*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50vh;
    padding: 0 2rem;
}

.contact-header > p {
    padding-top: 20px;
    color: var(--clr-p);
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 788px) {
    .contact {
        margin-top: 3rem;
        line-height: 10px;
    }
    .contact-header > h2 {
        font-size: 1.5rem;
        line-height: 10px;
    }
    .contact-links {
        font-size: 0.3rem;
        margin-top: 0.5rem;
        padding:0 0 2rem 0;
    }
    .contact-details {
        font-size: 1rem;
    }
} 

.contact-details {
    color: rgb(221, 158, 23);
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px rgba(239, 240, 233, 0.979);
    transition: transform 0.3s ease-out;
    padding: 1.5rem 1.5rem;
}

.contact-details:hover {
    transform: translateY(-4px);
}


/*
=============== 
Footer
===============
*/

footer {
    padding: 2rem;
    background:rgb(68, 67, 67);
    /* border-top: 4px solid grey; */
}

footer > p {
    margin: 1rem;
    color: var(--clr-p);
    text-align: center;
}
